body {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header img {
    width: 80px;
    height: 80px;
    float: none;
    margin-right: 10px;
}

header {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color: #95a3ae;
    color: white;
    padding: 25px;
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

h2 {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

label[for="filter-input"] {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 10px;
}

input#filter-input {
    color: #333;
    font-size: 16px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgb(221, 221, 221);
    padding: 0px;
    margin: 10px 5px;
    text-align: left;
}

input#filter-input:hover {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 223, 117);
}

#clear-filter-btn {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

table {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}

th,
td {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    position: relative;
}

th {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color: #d1d7db;
}

tr:nth-child(even) {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color: #8394a1;
}

.win {
    color: green;
}

.loss {
    color: red;
}

.team-logo {
    padding-right: 5px;
    width: 20px;
    height: 20px;
    float: left;
}