body {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color: #333333;
    color: white;
    padding: 25px;
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

h2 {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

label[for="filter-input"] {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 10px;
}

input#filter-input {
    color: #333;
    font-size: 16px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgb(221, 221, 221);
    padding: 0px;
    margin: 10px 5px;
    text-align: left;
}

input#filter-input:hover {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color: #ddd;
}

table {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}

th, td {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color: #f2f2f2;
}

.win {
    color: green;
}

.loss {
    color: red;
}